@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.box {
    align-items: center;
    position: relative;
    justify-content: center;
    margin: 16px;
}

@keyframes slidein {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.topbar {
    position: absolute;
    top: 0;
    background-color: black;
    color: white;
    height: 5%;
    left:35%;
    right:35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    z-index: 1;
    max-width:30%;
    animation: 3s linear 1s infinite alternate slidein;
}

.top {
    padding: 1%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.imgbox {
    position: relative;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    top: 150px;
    margin: 16%;
    width: 150px;
    height: 150px;
    padding: 0.3%;
    background-color: rgb(68, 161, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    opacity: 1;
}

.imgbox:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.5, 1.5);
}

.imgbox .cover {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: 0.8s ease-out;
}

/* Name */
.name {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
}

.imgbox:hover .name {
    opacity: 1;
}

/*pulse*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1000deg);
    }
}

.container .imgbox {
    animation: pulse 2s infinite;
}

/*hover*/
#box1:hover {
    opacity: 0.7;
}

#box2:hover {
    background-color: #e74c3c;
}

#box3:hover {
    animation: pulse 2s infinite, rotate 2s forwards;
}

#box4:hover {
    border: 5px solid #2ecc71;
}

#box5 {
    filter: grayscale(0%);
    transition: filter 0.5s;
    transition: 1s;
}

#box5:hover {
    filter: grayscale(100%);
    transition: 1s;
}

#box6:hover {
    animation: pulse 2s infinite, rotate 2s forwards;
}

#box7 {
    filter: grayscale(0%);
    transition: filter 0.5s;
    transition: 1s;
}

#box7:hover {
    filter: grayscale(100%);
}

#box8:hover {
    border: 5px solid #6d24e2;
}

#box9:hover {
    background-color: #6de2ff;
}

@media screen and (max-width:1000px) {
    .imgbox {
        width: 40%;
    }
}

@media screen and (max-width:800px) {
    .img-box {
        width: 20%;
    }
}